#app {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.idRow {
  min-width: fit-content;
  .cell {
    width: fit-content;
    word-break: inherit;
  }
}


